name: CI com Build, Teste e SonarCloud

on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]

jobs:
  build_test_and_scan:
    runs-on: ubuntu-latest

    env:
      DOTNET_VERSION: 8.0.x
      PROJECT_SLN: SecureBookHub.WebAPI.slnx  # coloque o nome correto aqui

    steps:

    - name: 1. Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: 2. Instalar .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: 3. Instalar SonarScanner CLI
      run: dotnet tool install --global dotnet-sonarscanner

    - name: 4. Iniciar análise SonarCloud (Begin)
      run: |
        dotnet-sonarscanner begin \
          /k:"7c31ea47ea1a262758be5d301eb5f684d659e7a0" \
          /o:"paulohenriquecarvalho" \
          /d:sonar.token="${{ secrets.SONAR_TOKEN }}" \
          /d:sonar.host.url="https://sonarcloud.io" \
          /d:sonar.cs.opencover.reportsPaths="**/coverage.opencover.xml" \
          /s:"${{ env.PROJECT_SLN }}"

    - name: 5. Restore
      run: dotnet restore ${{ env.PROJECT_SLN }}

    - name: 6. Build
      run: dotnet build ${{ env.PROJECT_SLN }} --no-restore --configuration Release

    - name: 7. Testes + Cobertura
      run: |
        dotnet test ${{ env.PROJECT_SLN }} \
          --no-build \
          --configuration Release \
          /p:CollectCoverage=true \
          /p:CoverletOutputFormat=opencover \
          /p:CoverletOutput=./TestResults/

    - name: 8. Finalizar análise SonarCloud (End)
      run: dotnet-sonarscanner end /d:sonar.token="${{ secrets.SONAR_TOKEN }}"
